.item__meta--title::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  max-width: 1440px;
  margin: 0 auto;
}
.items > li {
  flex: 0 0 100%;
}
@media screen and (min-width: 768px) {
  .items > li {
    flex: 0 0 50%;
  }
}
@media screen and (min-width: 1024px) {
  .items > li {
    flex: 0 0 33.333%;
  }
}
@media screen and (min-width: 1280px) {
  .items > li {
    flex: 0 0 25%;
  }
}

.item {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 0 1em 1em 1em;
  position: relative;
}
.item__image {
  background-color: #ffffff;
  display: flex;
  aspect-ratio: 1/1.25;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.item__image img {
  transform: translateY(0);
  transition: 0.4s ease;
}
.item__info {
  padding: 0.75rem 0;
}
.item__meta {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.item__meta--title {
  text-decoration: none;
  color: #0a0a0a;
}
.item__meta--title:hover {
  text-decoration: underline;
}
.item__meta--title:focus {
  outline: 2px solid transparent;
}
.item__tags {
  display: flex;
  list-style: none;
  padding: 0;
  color: #757575;
  font-size: 0.875rem;
}
.item__tags li + li::before {
  content: "-";
  padding: 0 0.25rem;
  display: inline;
}
.item img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 75%;
}
.item:hover .item__image img {
  transform: translateY(-1em);
}
.item:focus-within .item__image {
  outline: 3px solid #eeeeee;
}

body {
  background-color: #f7f7f7;
  padding-top: 2em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}